.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.project
.classpath
Token.java
.env